<h2 style="margin-top: 20px; margin-left: 15px;"><i class="fa fa-gear"></i>&nbsp; Settings</h2>
<div class="col-sm-3 col-lg-3">
  <div class="settings-menu">
    <ul>
      <li>
        <%= link_to '<i class="fa fa-list-ul"></i>&nbsp; Dashboard'.html_safe, user_dashboards_path, :class=> (active_tab == 'dashboard' ? 'active' : '') %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-file-text-o"></i>&nbsp; Reservations'.html_safe, reservations_user_dashboards_path, :class=> (active_tab == 'reservation' ? 'active' : '') %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-star-o"></i>&nbsp; Rewards'.html_safe, rewards_user_dashboards_path, :class=> (active_tab == 'rewards' ? 'active' : '') %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-user"></i>&nbsp; Profile'.html_safe,  edit_user_registration_path(current_user), :class=> (active_tab == 'account_profile' ? 'active' : '') %>
      </li>
    </ul>
  </div>
</div>