<div id="hh-user" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'rewards' }%>
   

   
    <div class="col-sm-9 col-lg-9">
        <div class="storyContent setting" id ="dashboard">
        <!-- <div class="settings-panel"> -->
            <div class="header">
              <h3>Rewards</h3>
            </div>
            <div class="content">
              <h4>Rewards Redeemed</h4>
              <table class="table table-striped visit-table">
                <thead>
                  <tr>
                    <th>Restaurants</th>
                    <th>Rewards</th>
                    <th>Points</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="table-align-left">The Garret Secret Bistro</td>
                    <td>Free welcome Nook &amp; Cranny Beer </td>
                    <td>5</td>
                    <td>14/02/14</td>
                  </tr>
                  <tr>
                    <td class="table-align-left">Maison Chin</td>
                    <td>$18 Whitebait Sandwich &amp; Drink</td>
                    <td>5</td>
                    <td>09/02/14</td>
                  </tr>
                  <tr>
                    <td class="table-align-left">Roast Coffee &amp; Eatery</td>
                    <td>$10 Lavender Tea</td>
                    <td>5</td>
                    <td>05/02/14</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>



  </div><!--/row-->
</div>