<div class="model model-destroyInventory setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('destroyInventory');"></i>
    <h4 class="lbold my_bold">Delete Inventory</h4>
  </div>

  <div class="content">


  </div>

  <div class="submit actions pull-right" style="padding-bottom:20px;padding-right:20px">
    <div>
      <a data-dismiss="model" class="btn btn-primary confirm">DELETE</a>
      <button class="btn btn-primary" onclick="closeModel('destroyInventory');">CANCEL</button>
    </div>
  </div>

</div>