<div class="model model-viewInventory setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('viewInventory');"></i>
    <h4 class="lbold my_bold">View Inventory</h4>
  </div>

  <div class="content">
  </div>

</div>