<div class="topContent container" >
  <div class="row">
    <%= render :partial => "/shared/setting" %>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'inventories' }%>
    <div class="col-sm-9 col-lg-9">
      <div class="storyContent setting">
        <div class="header">
          <h3 class="rmedium">New Inventory</h3>
        </div>
        <div class="content"> 

          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>