<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Verify Code: <%= @code %><br>
<br>
Dear <%= @username %>,<br>
<br>
Welcome to Hungry Hub, the Bangkok's premier online restaurant reservation service available 24 hours a day, 7 days a week. Hungry Hub is available both on website and mobile application that enables you to make reservation at your favorite restaurants anytime upon your convenient. We have the most comprehensive collection of services in the industry including reservation, ratings, recommendations and special deals available only to our members ensuring that your next dining experience is enjoyable and hassel-free.<br>
<br>
You are important to us and we work very hard to bring you the most up-to-date information available. With every successful booking, you will receive HUNGRY REWARD POINTS, which are redeemable for cash. Please visit www.hungryhub.com to learn more about Hungry Hub reward point system.<br>
<br>
Thank you for choosing Hungry Hub.  We are very glad to be your restaurant reservation service partner. We look forward to your next visit at www.hungryhub.com. ‘Hungry Hub’ mobile app is available on both iOS App Store & Google Play Store.<br>
<br>
Enjoy your meal on your next reservation.<br>
<br>
Your Table is Waiting,<br>
Hungry Hub Team<br>
<br>
NEED HELP?<br>
Please contact us at contact@hungryhub.com
  </body>
</html>
