 <table> 
  <tr> 
    <td class="my_bold">Name:</td>
    <td><%= @inventory_template_group.name %></td> 
  </tr>
  <tr> 
    <td class="my_bold">Primary:</td> 
    <td><%= @inventory_template_group.primary %></td> 
  </tr>
  <tr> 
</table>

<hr/>
<div class="submit">
  <button class="btn btn-primary pull-right" onclick="closeModel('viewInventoryTG');">CLOSE</button>
</div>
