<div class="model model-viewInventoryTG setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('viewInventoryTG');"></i>
    <h4 class="lbold my_bold">View Inventory Template Group</h4>
  </div>

  <div class="content">
  </div>

</div>