<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting" %>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'inventory_template_groups' }%>
    <div class="col-sm-8 col-sm-8">
      <div class="storyContent setting">
        <div class="header">
          <h3 class="rmedium">Inventory Template Groups</h3>
        </div>
        <div class="content"> 

          <h3>New inventory template group</h3>
          <%= render 'form' %>
          <%= link_to 'Back', inventory_template_groups_path %>

        </div>
      </div>
    </div>
  </div>
</div>