<div class="topContent container">

<h2>Verification Page</h2>
  <h3>Please, enter code, that you received in email</h3>
  <%= form_tag("/verification", method: "post") do %>
    <%= text_field_tag(:verify_code) %>
    <br/>
    <div class="form-actions" style="padding-top: 15px;">
      <%= submit_tag "Submit", :class => "btn btn-success" %>
      <%= link_to "Send new code", resend_code_path, :class => "btn btn-default btn-large" %>
    </div>
  <% end %>


</div>