<div class="model model-viewInventoryT setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('viewInventoryT');"></i>
    <h4 class="lbold my_bold">View Inventory Template</h4>
  </div>

  <div class="content">
  </div>

</div>