<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting" %>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'inventory_templates' }%>
    <div class="col-sm-8 col-sm-8">
      <div class="storyContent setting">
        <div class="header">
          <h3 class="rmedium">Inventory Templates</h3>
        </div>
        <div class="content"> 

          <h1>Editing inventory template</h1>

          <%= render 'form_edit' %>

          <%= link_to 'Show', @inventory_template %>
          <%#= link_to 'Back', inventory_templates_path %>
          
        </div>
      </div>
    </div>
  </div>
</div>