<div class="screenfade"></div>
  <div class="model model-image">
    <div class="header">
      <i class="glyphicon glyphicon-remove" onclick="closeModel('image');"></i>
      <h4 class="lbold">Restaurent Picture</h4>
    </div>
    <div class="content">
      <%= image_tag ""%>
    </div>
  </div>
</div>

