<div class="model model-viewModal setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('viewModal');"></i>
    <h4 class="lbold my_bold"></h4>
  </div>

  <div class="content">
  </div>

</div>