= f.input :restaurant_id,collection: @restaurants, as: :select, default: @reservation.restaurant_id, prompt: "Choose a Restaurant"
= f.input :date
= f.input :start_time
= f.input :end_time
= f.input :name
= f.input :email
= f.input :phone
= f.input :party_size
= f.input :special_request
= f.input :note
= f.input :ack
= f.input :active
= f.submit