<div class="topContent container">
  <div class="row">

    <div class="storyContent setting">

      <div class="header">
        <h3 class="rmedium">About Us</h3>
      </div>

      <div class="content"> 
<!--        <div class="col-sm-12">-->
<iframe width="560" height="315" src="//www.youtube.com/embed/OcJpiSh3ubQ?rel=0" frameborder="0" allowfullscreen></iframe>

<p>Hello and welcome to Hungry Hub, Thailand.s premier online restaurant reservation service available 24 hours a day, 7 days a week. By visiting us today, you have shown a need for a mobile app that enables you to make reservations at your favorite restaurant that includes getting some helpful reviews and recommendations along the way. We have the most comprehensive collection of services in the industry including reservations, reviews, recommendations and special deals available only to our members ensuring that your next night out is enjoyable and hassle-free.</p>
<p>Hungry Hub was founded under the notion that today.s consumers want to be able to search for local restaurants by location or cuisine and then make reservations at a restaurant all with the click of a button on their computer or mobile device. The reality is, restaurants aren.t open 24 hours a day, 7 days a week and that limits their ability to accept reservations when the potential guest is making dinner plans. Many restaurants use an archaic method or manually recording and tracking guest reservations; with Hungry Hub, the reservations are made electronically and tracked in much the same way. It.s more convenient and there is less room for error this way.</p>
<p>We enable you to search our database for restaurants and decide which one to visit by reading our informative reviews and recommendations; then you are able to make reservations quickly and effortlessly using our site or mobile app. By streamlining this process, Hungry Hub is revolutionizing the way diners and restaurateurs interact; we are the new standard in restaurant reservations in Thailand.</p>
<p>Our members are important to us and we work very hard to bring them the most up-to-date information available. With every successful booking, our members receive Hungry Points Rewards which are redeemable for cash. Our service standards are among the highest in the industry because we listen to and acknowledge the individual needs of our members.</p>
<p>We thank you for visiting us today and welcome you to come back often as we are always adding new restaurants and reviews to our site. Your opinion matters, if you have a question or concern, feel free to contact us and we will be happy to assist you.</p>

<br/><br/><br/><br/>

<p>สวัสดีครับ ยินดีต้อนรับเข้าสู่ Hungry Hub บริการจองร้านอาหาร ออนไลน์ ชั้นนำของเมืองไทย ที่ให้บริการตลอด 24 ชั่วโมง วันนี้เราจะมาบอกคุณว่าทำไมต้องใช้ app มือถือที่จะช่วยให้คุณจองร้านอาหารที่คุณชื่นชอบ โดยมีการ reviews และให้คำแนะนำไปพร้อมๆกัน เราเป็นระบบการจองร้านอาหารออนไลน์ ที่มีร้านอาหารที่ครอบคลุมมากที่สุด ทั้งการจอง ที่แสนจะสะดวก คำติชม คำแนะนำและ ข้อเสนอพิเศษต่างๆ ที่มีไว้สำหรับสมาชิกของเราโดยเฉพาะ มั่นใจได้เลยว่า ในค่ำคืนต่อไปของคุณจะสนุกเพลิดเพลิน และไม่ยุ่งยากอีกต่อไป</p>
<p>Hungry Hub เกิดขึ้นภายใต้ความคิดของผู้บริโภคในปัจจุบัน ที่ต้องการค้นหาร้านอาหาร จากย่านต่างๆ หรือจากประเภทอาหาร แล้วทำการจองร้านอาหาร ผ่านอินเตอร์เนต หรืออุปกรณ์สาร์ทโฟนต่างๆ โดยสามารถจองร้านอาหารต่างๆได้ตลอด 24 ชั่วโมง และสามารถจำกัดจำนวนที่ต้องการให้ลูกค้าจองได้ ร้านอาหารหลายแห่งยังคงใช้การรับจองและติดตามลูกค้าแบบเก่าๆ หรือการจดบันทึกด้วยตนเอง โดย Hungry Hub จะสามารถบันทึกการจองและติดตามลูกค้าบนระบบอิเล็กทรอนิกส์ มั่นใจได้เลยว่าจะมีโต๊ะเพียงพอสำหรับลูกค้า และ เกิดความผิดพลาดน้อยลงหากหันมาใช้ระบบการจองดังกล่าว</p>
<p>เราสามารถช่วยให้ท่านค้าหาข้อมูลต่างๆ ของร้านอาหาร และตัดสินใจก่อน ที่จะเข้าชม โดยการอ่านความคิดเห็น และ คำแนะนำต่างๆ แล้วท่านจะสามารถทำการจองได้อย่างรวดเร็วและง่ายดายโดยใช้เว็บไซต์หรือ app บนมือถือของเรา ขั้นตอนนี้ Hungry Hub ได้ ปฏิวัติการโต้ตอบการระหว่างลูกค้าที่มาใช้บริการ และร้านอาหาร เราคือ มาตรฐานใหม่ของระบบการจองร้าน อาหารในเมืองไทย</p>
<p>เราให้ความสำคัญต่อสมาชิกของเราเสมอ และเราทำงานกันอย่างหนักหน่วง ที่จะนำข้อมูลต่างๆเตรียมพร้อมสำหรับการให้บริการ ในทุกๆการจองสมาชิกของเราจะได้แต้มรางวัล ซึ่งสามารถนำมาใช้แทนเงินสดเพื่อเป็นส่วนลดกับร้านอาหารนั้นได้ มาตรฐานการให้บริการของเราอยู่ในระดับแนวหน้าของผู้ให้บริการการจองร้านอาหารแบบออนไลน์ เพราะเรารับฟังทุกความคิดเห็น และ ปฏิบัติตามความต้องการของสมาชิกอยู่เสมอ</p>
<p>เราขอขอบพระคุณทุกท่าน ที่มาเยี่ยมชมเราในวันนี้ และเรามีความยินดีที่จะให้ท่านมาเยี่ยมชมอีก เพราะเราจะเพิ่มร้านอาหารใหม่ๆ และความคิดเห็นต่างๆต่อร้านอาหารนั้นๆ ในเว็บไซต์ ของเรา หากท่านต้องการแสดงความคิดเห็น หรือ มีข้อสงสัยต่างๆ สามารถติดต่อเราได้ทันที เรายินดีที่จะช่วยเหลือท่าน</p>

<!--        </div>-->
      </div>
       
     

    </div>

  </div>
</div>          
