<div class="topContent container">
  <div class="row">

    <div class="storyContent setting">

      <div class="header">
        <h3 class="rmedium">About Us</h3>
      </div>

      <div class="content"> 
<!--        <div class="col-sm-12">-->
<iframe width="560" height="315" src="//www.youtube.com/embed/OcJpiSh3ubQ?rel=0" frameborder="0" allowfullscreen></iframe>

<p>สวัสดีครับ ยินดีต้อนรับเข้าสู่ Hungry Hub บริการจองร้านอาหาร ออนไลน์ ชั้นนำของเมืองไทย ที่ให้บริการตลอด 24 ชั่วโมง วันนี้เราจะมาบอกคุณว่าทำไมต้องใช้ app มือถือที่จะช่วยให้คุณจองร้านอาหารที่คุณชื่นชอบ โดยมีการ reviews และให้คำแนะนำไปพร้อมๆกัน เราเป็นระบบการจองร้านอาหารออนไลน์ ที่มีร้านอาหารที่ครอบคลุมมากที่สุด ทั้งการจอง ที่แสนจะสะดวก คำติชม คำแนะนำและ ข้อเสนอพิเศษต่างๆ ที่มีไว้สำหรับสมาชิกของเราโดยเฉพาะ มั่นใจได้เลยว่า ในค่ำคืนต่อไปของคุณจะสนุกเพลิดเพลิน และไม่ยุ่งยากอีกต่อไป</p>
<p>Hungry Hub เกิดขึ้นภายใต้ความคิดของผู้บริโภคในปัจจุบัน ที่ต้องการค้นหาร้านอาหาร จากย่านต่างๆ หรือจากประเภทอาหาร แล้วทำการจองร้านอาหาร ผ่านอินเตอร์เนต หรืออุปกรณ์สาร์ทโฟนต่างๆ โดยสามารถจองร้านอาหารต่างๆได้ตลอด 24 ชั่วโมง และสามารถจำกัดจำนวนที่ต้องการให้ลูกค้าจองได้ ร้านอาหารหลายแห่งยังคงใช้การรับจองและติดตามลูกค้าแบบเก่าๆ หรือการจดบันทึกด้วยตนเอง โดย Hungry Hub จะสามารถบันทึกการจองและติดตามลูกค้าบนระบบอิเล็กทรอนิกส์ มั่นใจได้เลยว่าจะมีโต๊ะเพียงพอสำหรับลูกค้า และ เกิดความผิดพลาดน้อยลงหากหันมาใช้ระบบการจองดังกล่าว</p>
<p>เราสามารถช่วยให้ท่านค้าหาข้อมูลต่างๆ ของร้านอาหาร และตัดสินใจก่อน ที่จะเข้าชม โดยการอ่านความคิดเห็น และ คำแนะนำต่างๆ แล้วท่านจะสามารถทำการจองได้อย่างรวดเร็วและง่ายดายโดยใช้เว็บไซต์หรือ app บนมือถือของเรา ขั้นตอนนี้ Hungry Hub ได้ ปฏิวัติการโต้ตอบการระหว่างลูกค้าที่มาใช้บริการ และร้านอาหาร เราคือ มาตรฐานใหม่ของระบบการจองร้าน อาหารในเมืองไทย</p>
<p>เราให้ความสำคัญต่อสมาชิกของเราเสมอ และเราทำงานกันอย่างหนักหน่วง ที่จะนำข้อมูลต่างๆเตรียมพร้อมสำหรับการให้บริการ ในทุกๆการจองสมาชิกของเราจะได้แต้มรางวัล ซึ่งสามารถนำมาใช้แทนเงินสดเพื่อเป็นส่วนลดกับร้านอาหารนั้นได้ มาตรฐานการให้บริการของเราอยู่ในระดับแนวหน้าของผู้ให้บริการการจองร้านอาหารแบบออนไลน์ เพราะเรารับฟังทุกความคิดเห็น และ ปฏิบัติตามความต้องการของสมาชิกอยู่เสมอ</p>
<p>เราขอขอบพระคุณทุกท่าน ที่มาเยี่ยมชมเราในวันนี้ และเรามีความยินดีที่จะให้ท่านมาเยี่ยมชมอีก เพราะเราจะเพิ่มร้านอาหารใหม่ๆ และความคิดเห็นต่างๆต่อร้านอาหารนั้นๆ ในเว็บไซต์ ของเรา หากท่านต้องการแสดงความคิดเห็น หรือ มีข้อสงสัยต่างๆ สามารถติดต่อเราได้ทันที เรายินดีที่จะช่วยเหลือท่าน</p>

<!--        </div>-->
      </div>
       
     

    </div>

  </div>
</div>          
