<div class="topContent container">
  <div class="row">

    <div class="storyContent setting">

      <div class="header">
        <h3 class="rmedium">About Us</h3>
      </div>

      <div class="content"> 
<!--        <div class="col-sm-12">-->
<iframe width="560" height="315" src="//www.youtube.com/embed/OcJpiSh3ubQ?rel=0" frameborder="0" allowfullscreen></iframe>

<p>Hello and welcome to Hungry Hub, Thailand.s premier online restaurant reservation service available 24 hours a day, 7 days a week. By visiting us today, you have shown a need for a mobile app that enables you to make reservations at your favorite restaurant that includes getting some helpful reviews and recommendations along the way. We have the most comprehensive collection of services in the industry including reservations, reviews, recommendations and special deals available only to our members ensuring that your next night out is enjoyable and hassle-free.</p>
<p>Hungry Hub was founded under the notion that today.s consumers want to be able to search for local restaurants by location or cuisine and then make reservations at a restaurant all with the click of a button on their computer or mobile device. The reality is, restaurants aren.t open 24 hours a day, 7 days a week and that limits their ability to accept reservations when the potential guest is making dinner plans. Many restaurants use an archaic method or manually recording and tracking guest reservations; with Hungry Hub, the reservations are made electronically and tracked in much the same way. It.s more convenient and there is less room for error this way.</p>
<p>We enable you to search our database for restaurants and decide which one to visit by reading our informative reviews and recommendations; then you are able to make reservations quickly and effortlessly using our site or mobile app. By streamlining this process, Hungry Hub is revolutionizing the way diners and restaurateurs interact; we are the new standard in restaurant reservations in Thailand.</p>
<p>Our members are important to us and we work very hard to bring them the most up-to-date information available. With every successful booking, our members receive Hungry Points Rewards which are redeemable for cash. Our service standards are among the highest in the industry because we listen to and acknowledge the individual needs of our members.</p>
<p>We thank you for visiting us today and welcome you to come back often as we are always adding new restaurants and reviews to our site. Your opinion matters, if you have a question or concern, feel free to contact us and we will be happy to assist you.</p>

<!--        </div>-->
      </div>
       
     

    </div>

  </div>
</div>          
