<div class="topContent container">
  <div class="row">

    <div class="storyContent setting">

      <div class="header">
        <h3 class="rmedium">How it works</h3>
      </div>

      <div class="content"> 
        <div class="col-sm-12">

<iframe width="560" height="315" src="//www.youtube.com/embed/X6hZZZIfqiI" frameborder="0" allowfullscreen></iframe>

        </div>
      </div>
       
     

    </div>

  </div>
</div>          
