<div class="topContent container">
  <div class="row">

    <div class="storyContent setting">

      <div class="header">
        <h3 class="rmedium">How it works</h3>
      </div>

      <div class="content"> 
<!--        <div class="col-sm-12">-->

<iframe width="560" height="315" src="//www.youtube.com/embed/X6hZZZIfqiI" frameborder="0" allowfullscreen></iframe>
<br/><br/>

Hungry Hub คืออะไร <br/>
<p>คุณเคยไหม เมื่อคุณเดินไปที่ร้านอาหาร แล้ว ร้านอาหารถูกจองหมดเกลี้ยง หรือหาเบอร์โทรร้านอาหาร และติดต่อร้านอาหารทางโทรศัพท์ แต่ไม่เจอเบอร์โทรร้าน หรือโทรไปไม่มีใครรับสาย พบกับทางออกของปัญหานี้ กับ Hungry Hub App. ฟรี!!! สำหรับการจองร้านอาหาร แบบ Real-Time และจองได้ตลอด 24 ชั่วโมง พร้อมทั้งคุณจะได้คะแนนสะสมจาก Hungry Hub สำหรับใช้เป็นส่วนลดเงินสดในร้านอาหาร พบกับ Hungry Hub Your Table is Waiting! ได้ที่ </p>
www.hungryhub.com </br>
Facebook.com/Hungryhub </br>
contact@hungryhub.com  </br>
หรือ Download ตอนนี้ได้เลย ที่ App Store และ Google Play 


<!--        </div>-->
      </div>
       
     

    </div>

  </div>
</div>          
