<div class="topContent container">

     <div class="row">
        <div class="col-sm-8 col-lg-8">
            <h2 class="rbold">Search Results</h2>
      <h3 class="rlight">We've found 30 restaurants for you.</h3>
      <div class="list result">
                <ul class="media-list">
                  <li class="media">
                    <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://www.placehold.it/244x144"></a>
                    <div class="media-body">
                      <div class="col-sm-12 col-lg-9 left">
                        <h4 class="media-heading">The Garret Secret Bistro</h4>
                        <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                        <br>
                        <p class="star">
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                        </p>
                        <p class="price">
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
            </p>
                        <p class="tag"><i class="glyphicon glyphicon-tag"></i> Fusion</p>
                      </div>
                      <div class="col-sm-12 col-lg-3 right">
              <h4 class="rmedium">Book Now :</h4>
                        <button type="button" id="reservation" class="btn btn-primary lblack action">6.00PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.15PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.30PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">OTHER ITEMS</button>
                      </div>
                    </div>
                  </li>
                  <li class="media">
                    <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://www.placehold.it/244x144"></a>
                    <div class="media-body">
                      <div class="col-sm-12 col-lg-9 left">
                        <h4 class="media-heading">The Garret Secret Bistro</h4>
                        <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                        <br>
                        <p class="star">
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                        </p>
                        <p class="price">
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
            </p>
                        <p class="tag"><i class="glyphicon glyphicon-tag"></i> Fusion</p>
                      </div>
                      <div class="col-sm-12 col-lg-3 right">
              <h4 class="rmedium">Book Now :</h4>
                        <button type="button" id="reservation" class="btn btn-primary lblack action">6.00PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.15PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.30PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">OTHER ITEMS</button>
                      </div>
                    </div>
                  </li>
                  <li class="media">
                    <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://www.placehold.it/244x144"></a>
                    <div class="media-body">
                      <div class="col-sm-12 col-lg-9 left">
                        <h4 class="media-heading">The Garret Secret Bistro</h4>
                        <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                        <br>
                        <p class="star">
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                        </p>
                        <p class="price">
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
            </p>
                        <p class="tag"><i class="glyphicon glyphicon-tag"></i> Fusion</p>
                      </div>
                      <div class="col-sm-12 col-lg-3 right">
              <h4 class="rmedium">Book Now :</h4>
                        <button type="button" id="reservation" class="btn btn-primary lblack action">6.00PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.15PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.30PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">OTHER ITEMS</button>
                      </div>
                    </div>
                  </li>
                  <li class="media">
                    <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://www.placehold.it/244x144"></a>
                    <div class="media-body">
                      <div class="col-sm-12 col-lg-9 left">
                        <h4 class="media-heading">The Garret Secret Bistro</h4>
                        <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                        <br>
                        <p class="star">
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                        </p>
                        <p class="price">
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
            </p>
                        <p class="tag"><i class="glyphicon glyphicon-tag"></i> Fusion</p>
                      </div>
                      <div class="col-sm-12 col-lg-3 right">
              <h4 class="rmedium">Book Now :</h4>
                        <button type="button" id="reservation" class="btn btn-primary lblack action">6.00PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.15PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.30PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">OTHER ITEMS</button>
                      </div>
                    </div>
                  </li>
                  <li class="media">
                    <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://www.placehold.it/244x144"></a>
                    <div class="media-body">
                      <div class="col-sm-12 col-lg-9 left">
                        <h4 class="media-heading">The Garret Secret Bistro</h4>
                        <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                        <br>
                        <p class="star">
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                          <i class="glyphicon glyphicon-star pink"></i>
                        </p>
                        <p class="price">
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
              <i class="glyphicon glyphicon-usd"></i>
            </p>
                        <p class="tag"><i class="glyphicon glyphicon-tag"></i> Fusion</p>
                      </div>
                      <div class="col-sm-12 col-lg-3 right">
              <h4 class="rmedium">Book Now :</h4>
                        <button type="button" id="reservation" class="btn btn-primary lblack action">6.00PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.15PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">6.30PM</button>
            <button type="button" id="reservation" class="btn btn-primary lblack action">OTHER ITEMS</button>
                      </div>
                    </div>
                  </li>
          <!-- News 1 -->
        </ul>
        <div class="navigation">
          <ul class="pagination">
              <li class="disabled"><a href="#">«</a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
          </ul>
        </div>
        </div>
      </div>  <!-- /main col left -->      
                          <!-- main col right -->
                          <div class="col-sm-4">
                            <h2 class="rlight">Location :</h2>
                <img src="http://placehold.it/400x270">
              <h2 class="rlight">Filter Options :</h2>
              <div class="filter">
                <form action="test.php" method="post">
                  <div class="star">
                  <h4 class="rmedium">Star Rating :</h4>

                    <div>
                    <input type="checkbox" name="star[]" value="value 1"><i class="glyphicon glyphicon-star pink"></i>
                    </div>
                    <div>
                    <input type="checkbox" name="star[]" value="value 2"><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i>
                    </div>
                    <div>
                    <input type="checkbox" name="star[]" value="value 3"><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i>
                    </div>
                    <div>
                    <input type="checkbox" name="star[]" value="value 4"><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i>
                    </div>
                    <div>
                    <input type="checkbox" name="star[]" value="value 5"><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i><i class="glyphicon glyphicon-star pink"></i>
                    </div>
                  </div>
                <hr/>
                  <div class="price">
                  <h4 class="rmedium">Price :</h4>
                    <div>
                    <input type="checkbox" name="price[]" value="value 1"><i class="glyphicon glyphicon-usd"></i><i class="glyphicon glyphicon-usd"></i> (500 baht and under)
                    </div>
                    <div>
                    <input type="checkbox" name="price[]" value="value 2"><i class="glyphicon glyphicon-usd"></i><i class="glyphicon glyphicon-usd"></i><i class="glyphicon glyphicon-usd"></i> (501 -1,000 baht)
                    </div>
                    <div>
                    <input type="checkbox" name="price[]" value="value 3"><i class="glyphicon glyphicon-usd"></i><i class="glyphicon glyphicon-usd"></i><i class="glyphicon glyphicon-usd"></i><i class="glyphicon glyphicon-usd"></i> (1,000 baht and over)
                    </div>
                  </div>
                <hr/>
                  <div class="credit">
                  <h4 class="rmedium">Credit Card :</h4>
                    <div>
                    <input type="checkbox" name="credit[]" value="value 1"> American Express
                    </div>
                    <div>
                    <input type="checkbox" name="credit[]" value="value 2"> Credit Card
                    </div>
                    <div>
                    <input type="checkbox" name="credit[]" value="value 3"> Master Card
                    </div>
                    <div>
                    <input type="checkbox" name="credit[]" value="value 4"> Visa
                    </div>
                  </div>
                </form>
              </div>
              </div>
                       </div><!--/row-->
        
                    </div><!-- /col-9 -->
        </div><!-- /content -->

        