<div class="model model-viewReservation setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('viewReservation');"></i>
    <h4 class="lbold my_bold">Heading</h4>
  </div>

  <div class="content">
  </div>

</div>