<div class="topContent container">

<h1>Editing reservation</h1>

<% if owner_signed_in? %>
  <%= render 'form' %>
<% else %>
  <%= render 'edit_form_for_user' %>
<% end %>

<%= link_to 'Show', @reservation %> |
<%= link_to 'Back', reservations_path %>

</div>