<div class="model model-destroyPopUp setting">

  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('destroyPopUp');"></i>
    <!-- <h4 class="lbold my_bold">Delete Inventory Template Group</h4> -->
    <h4 class="lbold my_bold"></h4>
  </div>

  <div class="content">
  </div>

  <div class="submit actions pull-right" style="padding-bottom:20px;padding-right:20px">
    <div>
      <button class="btn btn-primary" onclick="closeModel('destroyPopUp');">CANCEL</button>
      <a data-dismiss="model" class="btn btn-primary confirm">DELETE</a>
    </div>
  </div>

</div>