<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting"%>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'dashboard' }%>
    
    <div class="col-sm-8 col-sm-8">
    
      <div class="storyContent setting" id ="dashboard">
        <div class="header">
          <h3 class="rmedium">Dashboard</h3>
        </div>
        <div class="content">
          <p>Welcome</p>
          <br>
          <p>Welcome</p>
          <br>
          <p>Welcome</p>
          <br>
          <p>Welcome</p>
          <br>
          <p>Welcome</p>
          <br>
          <p>Welcome</p>
          <br>
        </div>
      </div>
    </div>
  </div><!--/row-->
</div>