<div id="hh-owner" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'rewards' }%>
    
    <div class="col-sm-9 col-lg-9">
      
      
      <div class="storyContent setting" id ="dashboard">
      <!-- <div class="settings-panel"> -->
            <div class="header">
              <h3>Rewards</h3>
            </div>
            <div class="content">
              <div id="reward">
                
              </div>
            </div>
          </div>


    </div>
  </div><!--/row-->
</div>