#advanceSearchBox
{
  margin-left:0px;
}
#advanceSearchBox .advanceSearch>div>i
{
  margin-right:0px;
}
#byLocation .navbar-form .form-control,#byName .navbar-form .form-control
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#byLocation .navbar-form .input-group-btn .btn,#byName .navbar-form .input-group-btn .btn 
{
  border-left-color: rgb(173, 173, 173);
  border-left-style: solid;
  border-left-width: 1px;
}
.media-body .btn
{
  letter-spacing: normal;
}