@import "bootswatch/united/variables";
// @import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
// @import "bootswatch/cerulean/bootswatch";
@import "bootswatch/united/bootswatch";
  
html,
body {
  height: 100%;
}

.navbar {
  .nav > li {
    line-height: 35px;
    font-size: 15px;
  }
  .brand {
    padding: 15px 20px 0px;
    font-size: 25px;
    // background: url("/assets/logo_icon_transp_100x100.png") no-repeat left center;
    // height: 20px;
    // width: 100px;
  } 

  .brand_icon {
    padding: 2px 20px 0px;
    // background: url("/assets/logo_icon_transp_100x100.png") no-repeat left center;
    height: 55px;
    width: 55px;
  } 
   .btn-navbar {
    margin-top: 13px;
  }
}



@media (min-width: 767px) {
  .navbar-inner {
      border-radius: 0px !important;
  }
}

//==================== Theme edits =========================
//==========================================================
// rgb(190, 30, 45),
.navbar-inverse .navbar-inner {
  background-color: #802c59;
  background-image: -moz-linear-gradient(top, #BE1E2D, #850000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BE1E2D), to(#850000));
  background-image: -webkit-linear-gradient(top, #BE1E2D, #850000);
  background-image: -o-linear-gradient(top, #BE1E2D, #850000);
  background-image: linear-gradient(to bottom, #BE1E2D, #850000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF862E5E', endColorstr='#FF772953', GradientType=0);
  border-color: #642246;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: white;
  background-color: #D64545;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
  background-color: #D64545;
  color: white;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #D64545;
  color: white;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #BE1E2D;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #d34413;
  background-image: -moz-linear-gradient(top, #FF0505, #c64012);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0505), to(#c64012));
  background-image: -webkit-linear-gradient(top, #FF0505, #c64012);
  background-image: -o-linear-gradient(top, #FF0505, #c64012);
  background-image: linear-gradient(to bottom, #FF0505, #c64012);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDD4814', endColorstr='#FFC64012', GradientType=0);
}

// a:hover, a:focus {
//   color: #D64545;
//   text-decoration: underline;
// }

//==================== Theme edits END =====================
//==========================================================

.brand_icon {
  margin-top: -4px;
  vertical-align: middle;
}


#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  padding: 0 0 170px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 120px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container .credit {
  float: left;
  margin: 20px 20px;
}

.footer-links{
  list-style-type: none;
  padding-top: 20px;
  margin: 0px;
}

/*
 * --------------------------------------------------
 */

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0; 
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin-bottom: 0;
}

form .field, form .actions {
  margin: 12px 0;
} 
 
/*
 * --------------------------------------------------
 */

.field_with_errors {
  .error {
    padding-left: 10px;
    color: red;
  }
}

 
// .restaurant_cuisine_tags {
//   line-height: 0px;
//   padding-bottom: 10px;
// }

// .checkbox_container {
//   display: inline-block;
//   vertical-align: -1px;
//   margin: 5px;
//  }
// .checkbox_container input {
//   display: inline;
//  }
// .checkbox_container .collection_check_boxes{
//   display: inline;
//   vertical-align: -5px;
//  }

.soc_links {
  // text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  float: left;
}

.soc_link {
  padding-left: 20px;
}

.locale {
  float: left;
  // margin: -0.25em 0.1em;
   padding-top: 20px;
  padding-left: 20px;
}

#set_locale {
  width: 100px;
}

.footer_logo_icon {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.inventory_template_quantity_available {
  width:50px;
}


.fn-gantt .navigate {
  .nav-zoomIn, .nav-zoomOut, .nav-page-back, .page-number, .nav-page-next {
    display: none;
  }
}

.fn-gantt .navigate .page-number span {
  color: #DDD important;
}

.text_area_for_misc {
  width: 700px;
  max-width: 700px;
}

.restaurants_mini {
  text-align: justify;
  
  h3 {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
