// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reservations .calendar {
  border-collapse: collapse;
  // width: 35%;
  width: 350px;
  // margin: auto;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    // padding: 6px;
    border: 1px solid #999;
    text-align: center;
  }

  th {
    background: #DDD;
    color: #666;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 20px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC;  }
  .today { background-color: #D7F2FF; }
  .full  { background-color: #F00; }

  .free_much    {  background-color: #0F0; }
  .free_mediate {  background-color: #FF0; }
  .free_few     {  background-color: #F00; }
}

#reservations #month {
  // margin: 0;
  // padding-bottom: 10px;
  // text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#reservations ul {
  font-size: 11px;
  padding-left: 10px;
}


.bip_reservation_party_size {
  input[type="text"]:focus {
    width: 35px;
  }
}

.bip_reservation_start_time {
  input[type="text"]:focus {
    width: 35px;
  }
}

.bip_reservation_end_time  {
  input[type="text"]:focus {
    width: 35px;
  }
}

// .purr {
//   position: fixed;
//   top: 30px;
//   right: 100px;
//   width: 250px;
//   padding: 20px;
//   background-color: #FCC;
//   border: solid 2px #C66;
//   &:first-letter { text-transform: uppercase; }
// }