            <div class="container">
            <nav class="navbar  padding-left-10 padding-right-10 padding-bottom-1 padding-top-1 " role="navigation">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span></button> 
              </div>
              
              <div class="collapse navbar-collapse color-white" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">About us</a>
                  </li>
                  <li>
                    <a href="#">how it works</a>
                  </li>
                  <li>
                    <a href="#">Features</a>
                  </li>
                  <li>
                    <a href="#">Careers</a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="row clearfix bottom">
              <div class="pull-left">
              <span class="label label-default">@2013 All rights Reserved</span> 
              </div>
              <div class="text">
                <span class="label">Appservation Co, Ltd. soi chula payathai road bangkok 10330, Thailand<br></span>
              </div>
              <div class="pull-right">
                <div class="icon icon-tw">
                <a href="#" target="_blank"></a>
                </div>
                <div class="icon icon-fb">
                <a href="#" target="_blank"></a>
                </div>
                <div class="icon icon-rss">
                <a href="#" target="_blank"></a>
                </div>
                <div class="icon icon-in">
                <a href="#" target="_blank"></a>
                </div>
              <div class="language">
                <a href="#" class="rblack">EN</a> / <a href="#" class="rblack">TH</a>
              </div>
              </div>
            </div> 
            </div>