<div id="footer">
  <div class="container">
    <div class="row">
     <div class="span3">
       <p class="text-muted credit">&copy; 2013 AppServation Co. Ltd.<br/>
        Soi Chula 12, Phyathai Road<br/>
        Bangkok 10330<br/>
        Thailand<br/>
       </p>
     </div>

     <div class="span3">
      <ul class="footer-links">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
     </div>

     <div class="span3">
      <ul class="footer-links">
        <li><a href="#">About</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
     </div>

     <div class="span3">
       <div class="soc_links">
         <a href="#"><img class="img-square soc_link" src="/assets/_facebook.png" style="width: 40px; height: 40px;"></a>
         <a href="#"><img class="img-square soc_link" src="/assets/_twitter.png" style="width: 40px; height: 40px;"></a>
       </div>
     </div>


    </div>
  </div>
</div>