          <div class="container">
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                      </button>
                      <a href="../home/index.html" class="navbar-brand logo">hungry hub</a>
                    </div>

                    <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle lblack">RESTAURANTS</a>
            </li>
            <!-- /.RESTAURANTS -->
          </ul>
                    <form class="navbar-form navbar-left" action="../search/search.html" method="get">
                        <div class="input-group input-group-sm">
                          <input class="form-control llitalic" placeholder="Search by restaurants, location or cuisine" name="srch-term" id="srch-term" type="text">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
            <li><button type="button" id="login" class="btn btn-default login navbar-btn navbar-right lblack action">LOG IN</button></li>
            <li><button type="button" id="signup" class="btn btn-default signup navbar-btn navbar-right lblack action">SIGN UP</button></li>
            <li class="ownerUnlog"><a href="#" class="dropdown-toggle lblack action" id="ownerlogin" data-toggle="dropdown">For Your Business <b class="caret"></b></a></l>
                      <li class="ownerLoged dropdown" style="display:none;">
                        <a href="#" class="dropdown-toggle lblack" data-toggle="dropdown">THE GARRET SECRET BISTRO<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="../owner/index.html">Setting</a></li>
                          <li><a href="../home/index.html">Log out</a></li>
                        </ul>
                      </li>
                    </ul>
                    </nav>
          </div>